
body{
    margin: 5px;
   
}
#calculator {
    margin: 0px auto;
    padding: 90px 20px 0px 20px;
    background-color:#181818;
    border-radius: 30px;
    height: 520px;
    width: 280px;
}

#result {
    margin-bottom: 50px;
    width: 280px;
    height: 116px;
}

#expression {
    width: 260px;
    height: 36px;
    text-align: right;
    color: #8c8c8c;
    font-family: sans-sarif;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

#finalResult {
    width: 260px;
    height: 56px;
    text-align: right;
    color: white;
    font-family:sans-serif;
    font-weight: normal;
    font-size: 40px;
}

#button {
    height: 300px;
    width: 280px;
    
}

#firstRow {
    margin-bottom: 10px;
    width: 280px;
    height: 50px;
    
}

#secondRow {
    margin-bottom: 10px;
    width: 280px;
    height: 50px;   
     
}

#thirdRow {
    margin-bottom: 10px;
    width: 280px;
    height: 50px;
    
}

#fourthRow {
    margin-bottom: 10px;
    width: 280px;
    height: 50px;
    
}

#fifthRow {
    
    width: 280px;
    height: 50px;
    
}

.buttonStyle {
    font-size: 20px;
    width: 55px;
    height: 50px;
    margin: 5px;
    color: white;
    background-color:#313131;
    border-width: 0px;
    border-radius: 15px;

}


.buttonAlign{
    text-align: center;
}

#assignBtn{
    background-color: #6d6d6d;
    width: 123px; 
}